<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Connection String for XAMPP MySQL -->
	<connectionStrings>
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Database=teamcruzim;Uid=root;Pwd=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<!-- Application Startup -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>
