<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Added Replication=false to disable ReplicationManager initialization which causes errors in MySql.Data 9.5.0 -->
	<connectionStrings>
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Database=teamcruzim;Uid=root;Pwd=;AllowZeroDateTime=true;SslMode=None;Replication=false;ConnectionTimeout=10;DefaultCommandTimeout=30"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<!-- Application Startup -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>
