<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnection" connectionString="Server=localhost;Port=3306;Database=teamcruzim;Uid=root;Pwd=;Replication=False;AllowLoadLocalInfile=False;AllowUserVariables=True;AllowZeroDateTime=True;ConvertZeroDateTime=True;SslMode=None;ConnectionTimeout=10;DefaultCommandTimeout=30" />
  </connectionStrings>
  <appSettings>
    <!-- Add any additional app settings here if needed -->
  </appSettings>
</configuration>
